In [4]:
import pandas as pd
import requests

In [25]:
def get_ec_ko_map():
    url = 'http://rest.kegg.jp/link/ko/ec'
    r = requests.get(url)
    g = pd.DataFrame([x.split('\t') for x in r.text.split('\n')],columns=['ec','ko'])
    g = g.iloc[0:-1]
    g['ec'] = g['ec'].apply(lambda x: x.split(':')[1])
    return g

In [7]:
def get_ec_codes():
    url = 'http://rest.kegg.jp/list/ec'
    r = requests.get(url)
    g = pd.DataFrame([x.split('\t') for x in r.text.split('\n')],columns=['ec','description'])
    g = g.iloc[0:-1]
    g['ec'] = g['ec'].apply(lambda x: x.split(':')[1])
    ec_code  = pd.DataFrame(g['ec'].apply(lambda x: x.split('.')).tolist())
    ec_code.columns = ['EC1','EC2','EC3','EC4']
    g = g.join(ec_code.astype('int'))
    return g

In [8]:
# download EC codes
ec = get_ec_codes()

In [11]:
ec_nad = ec[(ec['EC1'] == 1) & (ec['EC3'] == 1) & (ec['EC2'] != 6)]

In [27]:
ec2ko = get_ec_ko_map()

In [35]:
ec_nad_genes = ec_nad.set_index('ec').join(ec2ko.set_index('ec')).dropna()[['ko','description']]

In [36]:
ec_nad_genes

                 ko                                        description
ec
1.1.1.1   ko:K00001  alcohol dehydrogenase; aldehyde reductase; ADH...
1.1.1.1   ko:K00121  alcohol dehydrogenase; aldehyde reductase; ADH...
1.1.1.1   ko:K04072  alcohol dehydrogenase; aldehyde reductase; ADH...
1.1.1.1   ko:K11440  alcohol dehydrogenase; aldehyde reductase; ADH...
1.1.1.1   ko:K13951  alcohol dehydrogenase; aldehyde reductase; ADH...
...             ...                                                ...
1.97.1.9  ko:K07310                                 selenate reductase
1.97.1.9  ko:K12527                                 selenate reductase
1.97.1.9  ko:K17050                                 selenate reductase
1.97.1.9  ko:K17051                                 selenate reductase
1.97.1.9  ko:K17052                                 selenate reductase

[834 rows x 2 columns]