In [1]:
import pandas as pd
import cobra

In [2]:
media = pd.read_csv('media.C180N93E7.txt',sep='\t',index_col=0)
model = cobra.io.read_sbml_model('iJO1366.xml')

In [3]:
wt = pd.read_csv('iJO1366.growthRates.txt',sep='\t',index_col=0)

In [4]:
csources = media.carbon.unique().tolist()
nsources = media.nitrogen.unique().tolist()
electron = media.electron.unique().tolist()
electron = [x for x in electron if x != 'None']

In [5]:
metnames_carbon = [[x.name.strip('exchange')[0:-1] for x in model.reactions if x.id == y][0] for y in csources]
metnames_nitrogen = [[x.name.strip('exchange')[0:-1] for x in model.reactions if x.id == y][0] for y in nsources]
metnames_electron = [[x.name.strip('exchange')[0:-1] for x in model.reactions if x.id == y][0] for y in electron]

In [6]:
mdf_c = pd.DataFrame({'Metabolite': metnames_carbon, 'Exchange Reaction':csources, 'Source': 'Carbon'  })
mdf_n = pd.DataFrame({'Metabolite': metnames_nitrogen, 'Exchange Reaction':nsources, 'Source': 'Nitrogen'  })
mdf_e = pd.DataFrame({'Metabolite': metnames_electron + ['None'], 'Exchange Reaction':electron + ['NA'], 'Source': 'Electron'  })

In [60]:
df = pd.concat([mdf_c,mdf_n,mdf_e],axis=0)

In [62]:
df.to_csv('metabolite.names.csv')

In [24]:
mets = pd.DataFrame(df['Exchange Reaction'].unique(),columns=['met'])
mets = mets.iloc[0:-1]

In [42]:
mets['met']

               met    met_id
0    EX_12ppd__S_e     12ppd
1    EX_14glucan_e  14glucan
2      EX_23camp_e    23camp
3      EX_23ccmp_e    23ccmp
4      EX_23cgmp_e    23cgmp
..             ...       ...
188       EX_tym_e       tym
189       EX_ura_e       ura
190      EX_tmao_e      tmao
191      EX_dmso_e      dmso
192        EX_o2_e        o2

[193 rows x 2 columns]

In [45]:
mets['met_id']= mets['met'].apply(lambda x: x[3:])

In [46]:
mets

               met      met_id
0    EX_12ppd__S_e  12ppd__S_e
1    EX_14glucan_e  14glucan_e
2      EX_23camp_e    23camp_e
3      EX_23ccmp_e    23ccmp_e
4      EX_23cgmp_e    23cgmp_e
..             ...         ...
188       EX_tym_e       tym_e
189       EX_ura_e       ura_e
190      EX_tmao_e      tmao_e
191      EX_dmso_e      dmso_e
192        EX_o2_e        o2_e

[193 rows x 2 columns]

In [34]:
z = pd.read_csv('../revisions/assets/kegg.bigg.map.csv')

In [53]:
KEGG = []
for idx,row in mets.iterrows():
    kl = z[z.BIGG.apply(lambda x: row.met_id in x)].KEGG.tolist()
    KEGG.append(";".join(kl))
mets['KEGG'] = KEGG

In [59]:
mets.to_csv('../revisions/assets/metabolites.KEGG.csv')

In [32]:
df[['Metabolite']].to_csv('mets.exchange.forMetabAnalyst.csv')

In [16]:
model.metabolites.get_by_id('o2_e')