In [5]:
import pandas as pd
import requests

In [8]:
def get_ec_codes():
    url = 'http://rest.kegg.jp/link/ec/eco'
    r = requests.get(url)
    g = pd.DataFrame([x.split('\t') for x in r.text.split('\n')],columns=['gene','ec'])
    g = g.iloc[0:-1]
    
    return g

In [38]:
ec = get_ec_codes()

In [39]:
ec['gene'] = ec['gene'].apply(lambda x: x.split(':')[1])
ec['ec'] = ec['ec'].apply(lambda x: x.split(':')[1])

In [40]:
ec_code  = pd.DataFrame(ec['ec'].apply(lambda x: x.split('.')).tolist())
ec_code.columns = ['EC1','EC2','EC3','EC4']
ec = ec.join(ec_code.astype('int'))

In [47]:
nad_genes = ec[(ec['EC1'] == 1) & (ec['EC3'] == 1) & (ec['EC2'] != 6)]

In [58]:
df = pd.read_csv('assets/uniqueGeneToCoenzymeRxns.csv')

In [59]:
df

     genes                                               rxns gene_name
0    b1539                            ATHRDHr;DSERDHr;LSERDHr      ydfG
1    b3553  2DGULRGx;2DGULRGy;2DGULRx;2DGULRy;DKGLCNR2x;DK...      ghrB
2    b0347                                   3HCINNMH;3HPPPNH      mhpA
3    b0312                                  BETALDHx;BETALDHy      betB
4    b1093  3OAR100;3OAR120;3OAR121;3OAR140;3OAR141;3OAR16...      fabG
..     ...                                                ...       ...
133  b2255                                             UDPGDC      arnA
134  b0517                                           URDGLYCD      allD
135  b1012                                              PYROX      rutA
136  b1007                                              PYROX      rutF
137  b1692                                             QUINDH      ydiB

[138 rows x 3 columns]

In [60]:
dff = df[df['genes'].isin(nad_genes.gene.tolist())]

In [62]:
dff.to_csv('EC_1.X.1.X.Unique_NAD(P)_Coupled.GeneSet.csv')

In [86]:
V = []
for idx,row in dff.iterrows():
    V.append(pd.DataFrame({'gene': row.genes, 'gene_name': row.gene_name, 'rxn': row.rxns.split(';')}))
dff_rxns = pd.concat(V,axis=0)

In [88]:
thermo = pd.read_csv('deltaG.iJO1366.eQuilibiatorAPI.pH7p4.298,15T.IS0,25M.csv')

In [91]:
thermo.set_index('rn')[['deltaG_prime_m','deltaG_prime_m (error)']]

              deltaG_prime_m  deltaG_prime_m (error)
rn
12DGR120tipp        0.000000                0.000000
12DGR140tipp        0.000000                0.000000
12DGR141tipp        0.000000                0.000000
12DGR160tipp        0.000000                0.000000
12DGR161tipp        0.000000                0.000000
...                      ...                     ...
URDGLYCD          -10.528255                5.435085
UREAtex             0.000000                0.000000
UREAtpp             0.000000                0.000000
RNDR3             -39.552038                2.943661
RNDR4             -41.485989                2.412063

[1760 rows x 2 columns]

In [95]:
z = dff_rxns.set_index('rxn').join(thermo.set_index('rn')[['deltaG_prime_m','deltaG_prime_m (error)']])

In [99]:
zz = z.reset_index().dropna()

In [101]:
zz.sort_values('deltaG_prime_m')

       index   gene gene_name  deltaG_prime_m  deltaG_prime_m (error)
118  NTRIR2x  b3366      nirD     -381.056015                3.672047
119  NTRIR2x  b3365      nirB     -381.056015                3.672047
130   PPPNDO  b2542      hcaD     -350.466202                8.041879
31    CINNDO  b2542      hcaD     -343.950085                8.659310
126   PDX5PS  b0052      pdxA     -240.019365                5.527793
..       ...    ...       ...             ...                     ...
76     G3PD2  b3608      gpsA       23.216165                0.805351
113      MDH  b3236       mdh       27.098390                0.304888
128     PGCD  b2913      serA       31.441875                0.564070
30      CDGR  b2794      queF       80.358054           100004.190541
91      GMPR  b0104      guaC      240.271607            67665.825779

[102 rows x 5 columns]

In [103]:
zz.to_csv('EC_1.X.1.X.Unique_NAD(P)_Coupled.GeneSet.Thermo.csv')

In [114]:
ii = []
ni = []
for idx,rdf in zz.groupby('index'):
    ii.append(idx)
    ni.append(len(rdf))

In [120]:
gz = pd.DataFrame({'reaction': ii, 'n': ni})

In [124]:
gz[gz['n'] > 1]

   reaction  n
24   DURADx  2
27   FADRx2  2
40    GLUSy  2
49    HXAND  2
69  NTRIR2x  2
84     SULR  2
94     XAND  2

In [125]:
model

NameError: name 'model' is not defined